<h1>Track Editor</h1>
<form action= <%= track_url %> method="post">
  <input type="hidden" name="_method" value="put">
<%= render :partial => "shared/track_form" %>
  <input type="submit" value="Update Track">
</form>
