<h1>Tracks Index</h1>

<ul>
  <% @tracks.each do |track| %>
    <li>
      <a href = <%= track_url(track.id) %>><%= "#{track.name}" %></a>
    </li>
  <% end %>
</ul>

<form action= <%= session_url(User.find_by_session_token(session[:session_token])) %> method="post">
  <input type= "hidden" name= "_method" value= "delete">
  <input type="submit" value="Logout">
</form>
