<h1>User Creator</h1>
<% flash[:notices].try(:each) do |msg| %>
  <%= msg %>
<% end %>
<br>
<form action= <%= users_url %> method="post">
  <label for="email">Email</label>
  <input type="text" name = "user[email]" id="email">

  <label for="password">Password</label>
  <input type="password" name = "user[password]" id="password"> <br>

  <input type="submit" value="Create User">
</form> <br>

<a href = <%= new_session_url %>><%= "Login" %></a>